.nav-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #d98900;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  margin: 50px;
  padding: 35px;
}

.name h2 {
  color: #FFFFFF;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
}

.name span {
  font-weight: 600;
}