.new-tweet {
  width: 100%;
}

.compose {
  font-size: 25px;
}

.error-msg {
  display: none;
  border: 2px solid red;
  text-align: center;  
  box-sizing: border-box;
}

input {
  display: flex;
  flex-direction: column;
  
}

.textbox {
  border: none;
  border-bottom: 2px solid black;
  background-color: #f4f1ec;
  width: 100%;
  resize: none;
}

.overcount {
  color: red;
}

label {
  font-weight: 500;
}

button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee Inline';
}

.button {
  display: flex;
  justify-content: space-between;
  padding-top: 10px
}
